<h1>Welcome to the Signup Page</h1>

<%= form_for :user, url: '/users' do |f| %>

Please Enter Name: <%= f.text_field :name %> <br>
Please Enter Email: <%= f.text_field :email %> <br>
Please Enter Password: <%= f.password_field :password %>  <br>
Please Confirm Password: <%= f.password_field :password_confirmation %> <br>
<%= f.submit "Submit" %>

<% end %>
